:root{
    --clr-primary: #96BB7C;
    --clr-primary-faded: #EFF8ED;
    --clr-secondary: #F3CD03;
    --clr-text: #252B42;
    --clr-second-text: #737373;
    --clr-light-text: #fff;
    --clr-danger: #E74040;
    --clr-icon-blue: #0072F9;
    --clr-icon-green: #48eea3;
    --clr-success: #2DC071;
    --clr-pink: #FFF2F3;
    --font-primary: "Montserrat", sans-serif;
    --fs-light: 14px;
    --fs-small: 16px;
    --fs-medium: 20px;
    --fs-large: 24px;
    --fs-xl: 58px;
    --fw-regular: 400;
    --fw-bold: 700;
    --br-normal: 5px;
    --br-full: 50px;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: unset;
}

.width{
    width: 1049px;
}

.hero{
    padding-top: 19px;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.left-hero{
    display: flex;
    align-items: center;
}

.logo{
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
    color: var(--clr-text);
    margin-right: 45px;
    cursor: pointer;
}

nav > a {
    color: var(--clr-second-text);
    font-size: var(--fs-light);
    font-weight: var(--fw-bold);
}


nav > a:visited{
    color: var(--clr-second-text);
}

nav > a:hover{
    color: var(--clr-primary);
}

nav > a:not(:last-child){
    margin-right: 19px;
}

.right-hero a{
    margin-right: 45px;
    color: var(--clr-primary);
    font-weight: var(--fw-bold);
}

.right-hero a:visited{
    color: var(--clr-primary);
}

.right-hero a:hover{
    color: var(--clr-text);
}

.right-hero button{
    color: var(--clr-light-text);
    background-color: var(--clr-primary);
    font-weight: var(--fw-bold);
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: var(--br-normal);
}

.right-hero button > i{
    margin-left: 15px;
}

.right-hero button:hover{
    background-color: var(--clr-text);
}

/* Container CSS Here */

.container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-container h5{
    font-weight: var(--fw-bold);
    color: var(--clr-primary);
    font-size: var(--fs-small);
}

.left-container h1{
    font-weight: var(--fw-bold);
    font-size: var(--fs-xl);
    color: var(--clr-text);
    margin-bottom: 30px;
}

.left-container p{
    font-weight: var(--fw-regular);
    font-size: var(--fs-medium);
    color: var(--clr-second-text);
    margin-bottom: 30px;
    line-height: 30px;
}

.quote , .learn{
    border: 1px solid var(--clr-primary);
    padding: 15px 40px;
    cursor: pointer;
    font-weight: var(--fw-bold);
    border-radius: var(--br-normal);
}

.quote{
    color: var(--clr-light-text);
    background-color: var(--clr-primary);
    margin-right: 10px;
}

.learn{
    background-color: var(--clr-light-text);
    color: var(--clr-primary);
}

.quote:hover{
    background-color: var(--clr-text);
    border-color: var(--clr-text);
}

.learn:hover{
    background-color: var(--clr-primary);
    color: var(--clr-light-text);
}

.images{
    position: relative;
    height: 682px;
    width: 500px;
}

.absolute{
    position: absolute;
}

.images i{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.student{
    background: url(Images/Ellipse\ 23.svg);
    background-repeat: no-repeat;
    background-position: 90px 50px;
    -webkit-user-drag: none;
    position: absolute;
    right: -80px;
}

.static{
    right: -20px;
    bottom: 90px;
    -webkit-user-drag: none;
}

.year{
    left: -15px;
    top: 70px;
    -webkit-user-drag: none;
}

.score{
    left: -20px;
    bottom: 110px;
    -webkit-user-drag: none;
}

.fa-chart-line, .fa-chart-column{
    background-color: var(--clr-icon-blue);
    color: var(--clr-light-text);
    padding: 16px;
    font-size: 26px;
    border-radius: var(--br-normal);
}

.fa-chart-line{
    left: -40px;
    top: 290px;
}

.fa-chart-column{
    bottom: 40px;
    right: 150px;
}

.fa-calendar{
    background-color: var(--clr-icon-green);
    color: var(--clr-light-text);
    padding: 14px;
    border-radius: var(--br-normal);
    right: -60px;
    top: 80px;
}

.sm-rtg{
    height: 200px;
    width: 100px;
    background-color: var(--clr-primary-faded);
    border-radius: 0 0 20px 0;
    position: absolute;
    top: 0;
}
.lg-rtg{
    height: 650px;
    width: 935px;
    background-color: var(--clr-primary-faded);
    border-radius: 0 0 0 60px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

@media only screen and (max-width: 1366px){
    .lg-rtg{
        width: 655px;
    }
}

@media only screen and (max-width: 1280px){
    .lg-rtg{
        width: 620px;
    }
}